body {
    font-family: 'Space Mono', monospace;
    background-color: lightblue;
    color: #2e3d51;
    margin: 4%;
    
}

header {
    background-color: lightblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;
    padding: 0;
}

img {
    max-width: 100%;
}

h1:hover {
    animation: shake 0.5s;
}
h2:hover {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    20% { transform: translate(-10px, 0); }
    40% { transform: translate(10px, 0); }
    60% { transform: translate(-10px, 0); }
    80% { transform: translate(10px, 0); }
    100% { transform: translate(0, 0); }
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-family: 'Trispace', sans-serif;
    color: #6280a8;
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Trispace', sans-serif;
    color: #2e3d51;
    margin-left: 3%;
}

h3 {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Trispace', sans-serif;
    color: #2e3d51;
    margin-left: 3%;
}

p {
    font-size: 0.9em;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Trispace', sans-serif;
    color: #2e3d51;
    margin-left: 3%;
    margin-right: 3%;
}

a {
    color: #2e3d51;
}

.week {
    background-color: rgb(224, 240, 254);
    margin: 0px;
    border-radius: 50px;
    flex: 1;
}
