body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

/*properties for the various scenes, add fading in effect*/
.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 4;
  animation: fade-in 1s;
}

.hidden{
  display:none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.title {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content:center;
     height:100vh;
     z-index: 4;
    }

h1 {
  font-size: 5em;
  color:blanchedalmond;
  text-align: center;
  font-family:'Space Mono', sans-serif;
}

.button {
  font-size: 2em;
  color: white;
  background-color: black;
  border: 1vh solid white;
  border-radius: 4vh;
  padding: 4vh; 
  margin: 5vh;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family:'Space Mono', sans-serif;
}

.button:hover{
  color:black;
  background-color: white;
  border: 2vh solid black;
}

#start-button{
  position: absolute;
  top: 68%;
  left: 47%;
  transform: translate(-50%, -50%);
}

#page1-button{
  position: absolute;
  top: 80%;
  left: 75%;
  transform: translate(-50%, -50%);
}

#page2-button{
  position: absolute;
  top: 80%;
  left: 75%;
  transform: translate(-50%, -50%);
}

#page3-button{
  position: absolute;
  top: 80%;
  left: 75%;
  transform: translate(-50%, -50%);
}




/*.blink-border {
  animation: blink-border 1s ease-in-out infinite; 
}

@keyframes blink-border {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
*/

@keyframes move-clouds-back {
  from {background-position: 0 0;}
  to {background-position: 10000px 0}
}
@keyframes move-twinkle-back {
  from {background-position: 0 0;}
  to {background-position: 10000px 5000px}
}
.stars, .twinkling, .clouds{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
  display:block
}
.stars{
  background: #000 url(stars.png) repeat top center;
  z-index:0;
}
.twinkling{
  background:transparent url(twinkling.png) repeat top center;
  z-index:1;
  animation: move-twinkle-back 200s linear infinite;
}
.clouds{
  background:transparent url(clouds.png) repeat top center;
  z-index:2;
  opacity: 1;
  animation: move-clouds-back 200s linear infinite;
}
/*Credits to CarlaCodes from GitHub for teaching me how to do starry night animation background*/

