body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.title {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content:center;
     height:100vh;
     z-index: 4;
    }

h1 {
  font-size: 5em;
  color:blanchedalmond;
  text-align: center;
  font-family:'Space Mono', sans-serif;
}

.blink {
  animation: blink 1s steps(1,end) infinite; 
}

@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes move-clouds-back {
  from {background-position: 0 0;}
  to {background-position: 10000px 0}
}
@keyframes move-twinkle-back {
  from {background-position: 0 0;}
  to {background-position: 10000px 5000px}
}
.stars, .twinkling, .clouds{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
  display:block
}
.stars{
  background: #000 url(stars.png) repeat top center;
  z-index:0;
}
.twinkling{
  background:transparent url(twinkling.png) repeat top center;
  z-index:1;
  animation: move-twinkle-back 200s linear infinite;
}
.clouds{
  background:transparent url(clouds.png) repeat top center;
  z-index:2;
  opacity: 1;
  animation: move-clouds-back 200s linear infinite;
}
/*Credits to CarlaCodes from GitHub for teaching me how to do starry night animation background*/
